<div class="repro-site-list">
  <input
    type="text"
    class="form-control"
    placeholder="Filtrer par nom de site..."
    [(ngModel)]="filterText"
  />

  <div class="repro-site-table-wrapper">
    <table mat-table [dataSource]="filteredSites" class="repro-site-table">
      <ng-container matColumnDef="success">
        <td mat-cell *matCellDef="let site">
          <span
            class="repro-site-badge"
            [style.backgroundColor]="resultColor(site.result)"
            [title]="resultLabel(site.result)"
          ></span>
        </td>
      </ng-container>

      <ng-container matColumnDef="base_site_name">
        <td mat-cell *matCellDef="let site">{{ site.base_site_name }}</td>
      </ng-container>

      <ng-container matColumnDef="detail">
        <td mat-cell *matCellDef="let site">
          <a
            [routerLink]="[
              '/monitorings',
              'object',
              moduleConfig.module_code,
              'site',
              site.id_base_site
            ]"
            (click)="$event.stopPropagation()"
            title="Voir la fiche du site"
          >
            <mat-icon>info</mat-icon>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="add">
        <td mat-cell *matCellDef="let site">
          <a
            [routerLink]="['/monitorings', 'create_object', moduleConfig.module_code, 'visit']"
            [queryParams]="{ id_base_site: site.id_base_site, parents_path: 'site' }"
            (click)="$event.stopPropagation()"
            title="Ajouter une visite"
          >
            <mat-icon>add</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr
        mat-row
        *matRowDef="let site; columns: displayedColumns"
        (click)="onRowClick(site)"
        class="repro-site-row"
        [class.repro-site-row-selected]="site.id_base_site === selectedSiteId"
      ></tr>
    </table>

    <p *ngIf="filteredSites.length === 0" class="text-muted repro-site-empty">Aucun site</p>
  </div>
</div>
